html,body {
	height: 100%;
}

body>div.container {
	height: 100%;
}

#modalError {
	position: absolute;
	z-index: 10000;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

#errorPanel {
	position: absolute;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	top: 400px;
}

#errorPanel .panel-heading{
	font-weight: bold;
}

#errorPanel p {
	text-align: center;
}

div#main {
	width: 100%;
	height: 100%;
	background-image: url(/img/android-netrunner-logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

div.card {
	display: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	width: 80px;
	height: 111px;
	background-size: 100% 100%;
}

div.card.corp {
	background-image: url(/img/back-corp.png);
}

div.card.runner {
	background-image: url(/img/back-runner.png);
}

div.card img {
	width: 80px;
	height: 111px;
	padding: 0px;
	margin: 0px;
}

div.card div {
	position: absolute;
	top: 0;
}

.faction {
	position: absolute;
	top: 0px;
	width: 55px;
	display: inline-block;
	border: 1px solid #cccccc;
	border-top-width: 0px;
	white-space: nowrap;
	color: #333333;
	background-color: #f5f5f5;
	z-index: 100;
}

.faction img {
	margin-left: 8px;
	height: 38px;
}

.faction p {
	padding-bottom: 2px;
	padding-top: 2px;
	margin: 0px;
}

.faction div.expand span {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.faction.corp {
	border-bottom-right-radius: 5px;
	border-left-width: 0px;
}

.faction.runner {
	border-bottom-left-radius: 5px;
	border-right-width: 0px;
	right: 0px;
}

#status-bar {
	position: absolute;
	top: 0px;
	left: 52px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-top-width: 0px;
	z-index: -1;
	border-radius: 0px 0px 5px 0px;
}

#corpScore {
	position: absolute;
	width: 0px;
	top: 35px;
	left: -155px;
}

#runnerScore {
	position: absolute;
	width: 0px;
	top: 190px;
	left: -155px;
}

#corpScore .panel-heading, #runnerScore .panel-heading{
	text-align: right;
}

#corpScore .panel-body, #runnerScore .panel-body {
	height: 121px;
}

#preview {
	position: absolute;
	right: 0px;
	top: 400px;
	display: none;
	z-index: 100;
}

#preview img {
	width: 216px;
	height: 300px;
	box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
	border: 1px solid #adadad;
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 5px 0px 0px 5px;
	margin: -5px;
}

#action {
	position: absolute;
	left: 0px;
	top: 190px;
	display: none;
	width: 400px;
	white-space: nowrap;
	border-radius: 0px 5px 5px 0px;
}

#action p {
	margin-left: 5px;
	margin-right: 5px;
}

#action .panel-heading i,#preview i {
	margin-left: 5px;
}

.panel-heading {
	padding: 3px;
}

#eventlog {
	left: 0px;
	margin-left: -400px;
	top: 355px;
	height: 250px;
	width: 400px;
	display: inline-block;
	position: absolute;
	z-index: 5000;
	background-color: rgba(255, 255, 255, 0.35);
	overflow: hidden;
}

#eventlog div.panel-body {
	bottom: 0px;
	position: absolute;
	z-index: -1;
	padding: 0px;
}

#eventlog div.panel-body  p {
	margin: 0px;
}

#responsePanel {
	position: absolute;
	left: 50%;
	display: none;
	bottom: -2px;
	margin: 0;
}

#responsePanel span {
	vertical-align: middle;
}

#responsePanel button {
	margin: 5;
}

#responsePanel span.header i {
	margin-top: 15;
	padding-left: 3;
	padding-right: 3;
}

#responsePanel span.panel-body {
	padding: 0px;
	display: inline-block;
}

#responsePanel span.header {
	background-color: #f5f5f5;
	height: 46px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#runInProgress {
	position: absolute;
	top: -3;
	height: 0%;
	background-color: #f5f5f5;
	z-index: -10;
	width: 122;
	border-bottom: 0px;
	border-top: 0px;
	overflow: hidden;
	border: 1px solid #cccccc;
}

#runInProgress p {
	margin-top: 45;
	-webkit-transform: rotate(90deg)
}

#runInProgress p span {
	padding-right: 2500px;
	padding-left: 150px;
}

#encounteredIce {
	opacity: 0;
	height: 84;
	width: 120;
	position: absolute;
}

#encounterMonitor {
	position: absolute;
	top: 500;
	left: 400;
	display: none;
	z-index: 100;
}

.list-group-item.last-row {
	height: 40;
}

#encounterMonitor .panel-heading {
	text-align: center;
}

#encounterMonitor ul.routines {
	padding-left: 0px;
	list-style-type: none;
}

#encounterMonitor .list-group-item {
	padding: 5px 5px;
}

#encounterMonitor li.broken {
	text-decoration: line-through;
}

#encounterMonitor button {
	margin-left: 2;
}

.cardplace {
	border-radius: 5px;
	border: 1.5px dashed #cccccc;
	margin: 0px;
	margin-left: -8px;
	margin-top: -6px;
	position: absolute;
	width: 96px;
	height: 140px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #999999;
	margin-top: -20px;
	z-index: 0;
}

.withAction.cardplace,#responsePanel div.withAction {
	border: 1.5px dashed #428bca;
}

.withAction.card {
	border: 3px dashed #428bca;
}

.withAction{
	cursor: pointer;
}

div.tokens {
	margin: 2px;
}

div.tokens .label {
	border: 1px solid #ffffff;
	padding: .1em .3em .15em;
}

div.tokens>span {
	display: block;
}

.sprite {
	background: url('/img/sprites.svg') no-repeat 0 0;
	display: inline-block;
	vertical-align: text-bottom;
	height: 20px;
	width: 20px;
	background-size: cover;
}

#action .sprite,#encounterMonitor .sprite,.label .sprite {
	height: 16px;
	width: 16px;
}

.label .sprite {
	background: url('/img/sprites-white.svg') no-repeat 0 0;
	background-size: cover;
}

.sprite.click {
	background-position: 0 0%;
}

.sprite.credits {
	background-position: 0 11%;
}

.sprite.link {
	background-position: 0 22%;
}

.sprite.memory_unit {
	background-position: 0 32%;
}

.sprite.agenda {
	background-position: 0 44%;
}

.sprite.recuring {
	background-position: 0 56%;
}

.sprite.virus {
	background-position: 0 66%;
}