@color0: rgba(230, 230, 230, 0.75);
@color1: rgba(0, 0, 0, 0.35);
@color2: rgba(255, 255, 255, 1);
@color3: rgba(30, 30, 30, 0.9);
@color4: rgba(204, 204, 204, 1);
@color5: rgba(250, 250, 250, 1);
@card-primary-action-shadow-color: rgb(50, 210, 45);
@card-action-shadow-color: rgb(240, 173, 78);
@token-recurring-text-color: #FFCC33;
@token-text-border: rgba(30, 30, 30, 1);
@token-text-color: rgba(255, 255, 255, 1);
@run-light-color: #FF9933;
@run-dark-color: #FF3300;
@font-family: sans-serif;
@font-family-fixed: monospace;
html , body , body > div#main {
	height: 100%;
	overflow: hidden;
	font-family: @font-family;
}

.animated {
	&:not(.fast) {
		-webkit-animation-duration: 0.3s ! important;
		animation-duration: 0.3s ! important;
	}

	&.fast {
		-webkit-animation-duration: 0.15s ! important;
		animation-duration: 0.15s ! important;
	}
}

.text-border (@border-color) {
	text-shadow: 1px 0px 1px @border-color, 0px 1px 0 @border-color, 0px -1px 0 @border-color, -1px 0px 0 @border-color;
}

.unselectable {
	-webkit-user-select: none;
}

.round-shadow (@border-radius) {
	border-radius: @border-radius;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.text-token () {
	font-weight: bold;
	font-size: 15px;
	color: @token-text-color;
	.text-border (@token-text-border);
	.unselectable ();
}

.element () {
	margin: 0px;
	padding: 0px;
	position: absolute;
}

.inner-token (@token-width) {
	display: inline-block;
	width: @token-width;
	height: @token-width;
	line-height: @token-width;
	background-image: url(/img/tokens.png);
	background-size: @token-width * 4 @token-width * 4;
	-webkit-filter: drop-shadow(1px 1px 1px @token-text-border) contrast(1.1);
	.text-token ();
	text-rendering: optimizeLegibility;
	text-align: center;
	&.credit {
		background-position: 0 0;
		.round-shadow (@token-width);
	}

	&.recurring {
		background-position: 0 0;
		.round-shadow (@token-width);
		color: @token-recurring-text-color;
	}

	&.advance {
		background-position: 0 -@token-width;
		.round-shadow (@token-width);
	}

	&.brain {
		background-position: -@token-width 0;
	}

	&.tag {
		background-position: -@token-width -@token-width;
	}

	&.badpub {
		background-position: 0 -@token-width * 2;
	}

	&.virus {
		background-position: -@token-width -@token-width * 2;
	}

	&.power {
		background-position: 0 -@token-width * 3;
	}

	&.hability {
		background-position: -@token-width -@token-width * 3;
	}

	&.click {
		background-position: -@token-width * 2 0;
	}

	&.clickused {
		background-position: -@token-width * 2 -@token-width;
	}

	&.agenda {
		background-position: -@token-width * 2 -@token-width * 2;
	}
}

//------------------------------
div#conf {
	@card-width: 80;
	@card-height: 111;
	position: absolute;
	left: -1000px;
	.card {
		&.small {
			width: @card-width;
			height: @card-height;
		}

		&.mini {
			width: @card-width / 2;
			height: @card-height / 2;
		}

		&.big {
			width: @card-width * 2.75;
			height: @card-height * 2.75;
		}
	}

	.shadow {
		@shadow-delta: 2.5px;
		@shadow-blur: 5px;
		.with-action {
			box-shadow: 0 0 @shadow-blur 2px @card-action-shadow-color;
		}

		.with-primary-action {
			box-shadow: 0 0 @shadow-blur 2px @card-primary-action-shadow-color;
		}

		.front {
			.horizontal {
				box-shadow: @shadow-delta -@shadow-delta @shadow-blur 0px @color3;
			}

			.vertical {
				box-shadow: @shadow-delta @shadow-delta @shadow-blur 0px @color3;
			}
		}

		.back {
			.horizontal {
				box-shadow: -@shadow-delta -@shadow-delta @shadow-blur 0px @color3;
			}

			.vertical {
				box-shadow: -@shadow-delta @shadow-delta @shadow-blur 0px @color3;
			}
		}
	}
}

//------------------------------
.faction.icon {
	@size: 37px;
	.element ();
	height: @size;
	width: @size;
	font-size: 27px;
	line-height: @size;
	text-align: center;
	.text-border (@color2);
}

//------------------------------
.faction.score {
	@h: 37px;
	@w: 30px;
	.element ();
	.unselectable ();
	display: table;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 1px @color1;
	.icon , .scorearea {
		display: inline-block;
		width: @w;
		height: @h;
		line-height: @h;
		vertical-align: middle;
		text-align: center;
		.text-border (@color2);
		font-size: 27px;
	}

	.more {
		display: inline-block;
	}

	.scorearea {
		.text-border (@color3);
		color: @color2;
		font-family: @font-family-fixed;
	}

	&.left {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	&.right {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

//------------------------------
.clickcounter {
	@token-size: 32px;
	.element ();
	width: @token-size;
	height: @token-size;
	span {
		.inner-token (@token-size);
	}
}

//------------------------------
.gamestep {
	@size: 32px;
	.element ();
	.unselectable ();
	height: @size;
	line-height: @size ! important;
	display: inline ! important;
	padding: 0em 0em ! important;
	&:not(:empty) {
		padding: 0em .6em ! important;
	}
}

//------------------------------
.statusrow {
	.element ();
	background: @color0;
	box-shadow: 2px 2px 3px 0px @color1;
	border-radius: 3px;
	border-top-right-radius: 0px;
	margin-top: 0px;
}

//------------------------------
.chat {
	.element ();
	.unselectable ();
	max-width: 450px;
}

//------------------------------
.statusseparator {
	@padding: 10px;
	.element ();
	height: 24px;
	&.left {
		padding-left: @padding;
		border-right: 1px @color1 solid;
	}

	&.right {
		padding-right: @padding;
		border-left: 1px @color1 solid;
	}
}

//------------------------------
.cardcontainer {
	.element ();
	.unselectable ();
	border-radius: 5px;
	border: 1.5px dashed @color4;
	&.zoomed {
		border-radius: 12px;
		border: 2.5px dashed @color4;
		.innertext {
			font-size: 25px;
			top: 40%;
			.text-border (@token-text-color);
			font-style: normal;
			font-weight: bold;
		}
	}

	.innertext {
		position: absolute;
		width: 100%;
		bottom: 0px;
		text-align: center;
		font-size: 11px;
		color: @color4;
		font-style: italic;
		font-family: @font-family-fixed;
		.counter {
			font-style: normal;
			font-weight: bold;
		}
	}
}

//------------------------------
.card {
	@radius: 5px;
	.element ();
	.unselectable ();
	transform-origin: top left;
	&.ghost {
		opacity: 0.5 ! important;
	}

	&.corp img.back {
		content: url(/img/back-corp.png);
	}

	&.runner img.back {
		content: url(/img/back-runner.png);
	}

	box-shadow: 0px 0px 1px 1px @color1;
	border-radius: @radius;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: @radius;
		&.front {
			backface-visibility: hidden;
		}
	}

	.tokens {
		&.rotated {
			transform: rotate(-90deg);
			transform-origin: top left;
			margin-top: 30px;
		}
	}

	.marks {
		position: absolute;
		bottom: 4px;
		right: 4px;
		font-size: 18px;
		color: @run-dark-color;
	}
}

//------------------------------
.focus {
	@radius: 5px;
	@light-color: rgba(222, 239, 255, 1);
	@dark-color: rgba(152, 190, 222, 1);
	.element ();
	.unselectable ();
	transform-origin: top left;
	border-radius: @radius;
	background: -webkit-linear-gradient(top, @light-color 0%, @dark-color 100%);
	box-shadow: 0px 0px 1px 1px @dark-color;
}

//----------------------------------
.token {
	@token-size: 25px;
	.element ();
	width: @token-size;
	height: @token-size;
	.inner-token (@token-size);
}

//------------------------------
.zoombox {
	@radius: 5px;
	.element ();
	.unselectable ();
	background: @color0;
	box-shadow: 0px 0px 1px 1px @color1, 1.5px 1.5px 2px 0px @color3;
	border-radius: @radius;
	.header {
		.element ();
		.unselectable ();
		font-style: italic;
		font-family: @font-family-fixed;
		&.title {
			background: @color5;
			border-top-left-radius: @radius;
			border-top-right-radius: @radius;
			width: 100%;
			padding-left: 3px;
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 1px solid @color1;
		}
	}

	.actions {
		.element ();
		.unselectable ();
		width: 100% ! important;
		background: @color5;
		border-bottom-left-radius: @radius;
		border-bottom-right-radius: @radius;
		border-top: 1px solid @color1;
	}
}

//------------------------------
label.action {
	padding: 3px 6px;
	font-weight: normal;
}

.action {
	.element ();
	.unselectable ();
	&.btn {
		padding: 3px 6px;
	}

	&.disabled {
		span {
			text-decoration: line-through;
		}
	}

	.cost:not(:empty) {
		&:after {
			content: " : ";
		}
	}
}

//------------------------------
.tracecontainer {
	.element ();
	.unselectable ();
	.action {
		margin-left: 3px;
		position: static;
	}

	input[type=range] {
		width: 100px;
		display: inline;
		vertical-align: middle;
		&:before {
			left: 0em;
			content: attr(min);
			font-size: 0.75em;
		}

		&:after {
			right: 0em;
			content: attr(max);
			font-size: 0.75em;
		}
	}
}

//------------------------------
.sub {
	.element ();
	.unselectable ();
	max-width: 240px;
	font-weight: normal;
	&.broken {
		text-decoration: line-through;
	}
}

//------------------------------
.token-wrapper {
	.element ();
	.unselectable ();
	min-width: 160px;
	.token {
		position: static;
	}

	.token-text {
		padding-left: 7px;
	}
}

//------------------------------
.run-aspect () {
	background: -webkit-linear-gradient(top, @run-light-color 0%, @run-dark-color 100%);
	box-shadow: 0px 0px 1px 1px @run-dark-color;
}

.run {
	.element ();
	.unselectable ();
	position: absolute;
	.run-aspect ();
}

.label.label-run {
	.run-aspect ();
	font-size: 100%;
	font-weight: 500;
	&:empty {
		box-shadow: none;
	}
}

