@font-face {
	font-family: 'netrunner';
	src: url('/fonts/netrunner.woff') format('woff');	
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 120%;
	line-height: 83.33%;
	margin: 0px 1px;
}

.icon,.icon-bg:before {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bg:before {
	width: 100%;
	height: 100%;
	font-size: 5em;
	text-align: center;
	display: block;
	position: absolute;
	line-height: 4em;
	left: 0;
	opacity: 0.2;
	z-index: 0;
}

.icon-shaper-smooth:before {
	content: "\e613";
}

.icon-shaper:before {
	content: "\e603";
}

.icon-honor-and-profit:before {
	content: "\e614";
}

.icon-spin-cycle:before {
	content: "\e615";
}

.icon-genesis-cycle:before {
	content: "\e616";
}

.icon-creation-and-control:before {
	content: "\e617";
}

.icon-core-set:before {
	content: "\e618";
}

.icon-credit:before {
	content: "\e600";
}

.icon-recurring-credit:before {
	content: "\e608";
}

.icon-click:before {
	content: "\e611";
}

.icon-link:before {
	content: "\e601";
}

.icon-trash:before {
	content: "\e606";
}

.icon-mu:before {
	content: "\e610";
}

.icon-1mu:before {
	content: "\e60a";
}

.icon-subroutine:before {
	content: "\e604";
}

.icon-3mu:before {
	content: "\e60e";
}

.icon-2mu:before {
	content: "\e60c";
}

.icon-anarch:before {
	content: "\e605";
}

.icon-criminal:before {
	content: "\e612";
}

.icon-haas-bioroid:before {
	content: "\e602";
}

.icon-weyland-consortium:before {
	content: "\e607";
}

.icon-jinteki-simple:before {
	content: "\e005";
}

.icon-jinteki:before {
	content: "\e609";
}

.icon-nbn:before {
	content: "\e60b";
}

.icon-agenda:before {
	content: "\e60d";
}

.icon-rez:before {
	content: "\e60f";
}

.anarch, .icon-bg.icon-anarch:before{stroke:orangered;color:orangered !important;border-color:orangered}
.criminal, .icon-bg.icon-criminal:before{stroke:royalblue;color:royalblue !important;border-color:royalblue}
.shaper, .icon-bg.icon-shaper:before{stroke:limegreen;color:limegreen !important;border-color:limegreen}
.neutral{stroke:gray;color:gray !important;border-color:gray}
.haas-bioroid, .icon-bg.icon-haas-bioroid:before{stroke:blueviolet;color:blueviolet !important;border-color:blueviolet}
.jinteki, .icon-bg.icon-jinteki:before{stroke:crimson;color:crimson !important;border-color:crimson}
.nbn, .icon-bg.icon-nbn:before{stroke:darkorange;color:darkorange !important;border-color:darkorange}
.weyland-consortium, .icon-bg.icon-weyland-consortium:before{stroke:darkgreen;color:darkgreen !important;border-color:darkgreen}