<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="jacksonMapper" class="org.keyser.anr.web.ObjectMapperFactoryBean" />


	<!-- la fabrique de jeu à  partir de GameDef -->
	<bean id="gameFactory" class="org.keyser.anr.web.GameFactory"
		p:mapper-ref="jacksonMapper">
		<property name="builder">
			<bean class="org.keyser.anr.web.GameDTOBuilder" />
		</property>
	</bean>

	<bean id="gameRepository" class="org.keyser.anr.web.GameRepository" />

	<bean class="org.keyser.anr.web.GameBoot" p:allGames-ref="gameRepository"
		p:factory-ref="gameFactory">
		<property name="basic">
			<bean class="org.keyser.anr.web.GameDef">
				<constructor-arg value="3253-4324" />
				<property name="deckCorp">
					<bean class="org.keyser.anr.web.DeckResource" p:resource="file:src/test/resources/core-nbn.o8d" />
				</property>
				<property name="deckRunner">
					<bean class="org.keyser.anr.web.DeckResource" p:resource="file:src/test/resources/core-shapper.o8d" />
				</property>
			</bean>
		</property>
	</bean>


	<bean id="webSocketPlay" class="org.keyser.anr.web.WebSocketCreatorFactoryBean"
		p:repository-ref="gameRepository" p:mapper-ref="jacksonMapper" />
</beans>	